@import url(https://db.onlinewebfonts.com/c/97386c1d7bdb684478ab36ec4e1129c8?family=Sk-Modernist);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sk-Modernist";
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  background-color: #d3d9d9;
}

header {
  background-image: linear-gradient(
    to right,
    rgba(235, 235, 235, 0.45),
    rgba(0, 0, 0, 0.2)
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
}
